<%- include ('partials/_header')  %>


<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
          <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Onomatopeya</th>
                    <th>Acciones</th>
                </tr>
                <tbody>
                    <% if (data) { %>
                        <% for(var i = 0; i < data.length; i++) { %>
                          <tr>
                            <td><%= (i + 1) %></td>
                            <td><%= data[i].nombre %></td>
                            <td><%= data[i].edad %></td>
                            <td><%= data[i].onomatopeya %></td>
                            <td>
                              <a href="/update/<%= data[i].id %>" class="btn btn-info"><span class="material-icons">
                                update
                                </span></a>
                              <a href="/delete/<%= data[i].id %>" class="btn btn-danger"><span class="material-icons">
                                delete
                                </span></a>
                            </td>
                          </tr>
                        <% } %>
                      <% } %>

                </tbody>
            </thead>
          </table>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                        </div>
                          
                        <div class="form-group">
                            <input type="number" name="edad" placeholder="Edad" class="form-control">
                        </div>
                          
                        <div class="form-group">
                            <input type="text" name="onomatopeya" placeholder="Onomatopeya" class="form-control">
                        </div>
                           <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                </div>
            </div>
            
      
        </div>
    </div>
</div>
<%- include ('partials/_footer')  %>